In [2]:
#how to check version
import pandas as pd
print(pd.__version__)  # prints the version of pandas

2.2.3

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 0691c5cf90477d3503834d983f69350f250a6ff7
python                : 3.13.2
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : AMD64 Family 23 Model 104 Stepping 1, AuthenticAMD
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_India.1252

pandas                : 2.2.3
numpy                 : 2.2.5
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.1
Cython                : None
sphinx                : None
IPython               : 9.2.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : None
lxml.etree            : None
matplotlib            : None
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

In [5]:
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
#numpy array to create data frame
import numpy as np
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
#numpy data frame
pd.DataFrame(np.random.rand(4,8),columns=list('ABCDEFGH'))

,A,B,C,D,E,F,G,H
0,0.285953,0.356106,0.108203,0.174134,0.441561,0.619392,0.797575,0.893461
1,0.600924,0.803615,0.606728,0.816638,0.527006,0.284083,0.265105,0.486955
2,0.730773,0.411170,0.508226,0.970527,0.532792,0.556055,0.359386,0.069382
3,0.903951,0.770210,0.008464,0.696419,0.904948,0.865294,0.183287,0.162224

In [10]:
#rename columns
df.rename

<bound method DataFrame.rename of    A  B
0  1  4
1  2  5
2  3  6>